<%= form_for [ chat_room, Message.new ], remote: true do |form| %>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <%= form.text_field :body, class: 'form-control', placeholder: 'Message' %><br>
  <button type="submit">Send</button>
<% end %>
