<%= form_for :session, url: session_path do |form| %>
  <div class="field">
    <div class="label">
      <label form="register-lname">Last Name</label>
    </div>
    <div class="input">
      <%= form.text_field :email, type: 'email', placeholder: 'Email address', require: true, autofocus: true %>
    </div>
  </div>
  <div class="field">
    <div class="label">
      <label for="register-id">ID Number</label>
    </div>
    <div class="input">
      <%= form.text_field :password, type: 'password', class: 'form-control', placeholder: 'Password or ID NUMBER', require: true %>
    </div>
  </div>
  <div class="field-submit">
    <div class="submit">
      <button type="submit">Login</button>
    </div>
  </div>
<% end %>
