<!-- <div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render partial: "shared/#{current_user.role}_left_menu" %></div>
    <div class="col-md-6 col-md-offset-2 main">
      <h3><%= @opposite_user.name %></h3>
      <hr>

      <div id="videos" class="video_area" data-api-key="<%= ENV['OPENTOK_KEY']%>" data-session-id="<%= @room.session_id %>" data-token="<%= @tok_token %>">
        <div id="subscriber"></div>
        <div id="publisher"></div>
      </div>

      <ul class="list-group messages_area" data-chat-room-id="<%= @room.id %>" style="margin-top: 20px;">
        <li class="list-group-item form">
          <%= render 'messages/form', chat_room: @room %>
        </li>
        <% @room.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </ul>
    </div>
  </div>
</div> -->

<div id="screen7" class="screen">
  <div class="container">
    <main id="content">
      <div class="left">
        <div class="panel">
          <div class="panel-head">
            <h2><%= @opposite_user.name %></h2>
            <div class="online"></div>
          </div>
          <div class="panel-body">
            <div class="panel-lbody">
              <div class="status">Status</div>
              <div class="item">
                <div class="item-image online"><%= image_tag "dummy.jpg" %></div>
              </div>
            </div>
            <div class="panel-rbody">
              <div class="video" data-api-key="<%= ENV['OPENTOK_KEY']%>" data-session-id="<%= @room.session_id %>" data-token="<%= @tok_token %>">
                <% if @tok_token %>
                  <div id="subscriber"></div>
                  <div id="publisher"></div>
                <% else %>
                  <figure class="avatar"><%= image_tag "dummyavatar.jpg" %>
                    <figcaption>Call: <%= @opposite_user.name %></figcaption>
                  </figure>
                <% end %>
                <% if @room.session_id %>
                  <div class="videopanel active">
                    <%= link_to chat_room_deactivate_path(@room), class: 'button-rec' do %>
                      <%= image_tag "btn-rec.png" %>
                    <% end %>
                    <a href="#" class="button-phone"><%= image_tag "btn-phone.png" %></a>
                    <a href="#" class="button-mic"><%= image_tag "btn-mic.png" %></a>
                    <a href="#" class="button-fullscreen"><%= image_tag "btn-fullscreen.png" %></a>
                  </div>
                <% else %>
                  <div class="videopanel">
                    <%= link_to chat_room_activate_path(@room) do %>
                      <%= image_tag "btn-video.png" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <footer id="footer">
          <div class="brand">We.</div>
          <nav id="nav"><a href="#">Home</a><a href="#">Account</a><a href="#">Help</a><a href="#">Contacts</a></nav>
        </footer>
      </div>
      <div class="right">
        <div class="panel">
          <div class="panel-head">
            <h2><%= @opposite_user.name %></h2>
            <div class="online"></div>
          </div>
          <div class="panel-body">
            <div class="messages" data-chat-room-id="<%= @room.id %>">
              <% @room.messages.each do |message|%>
                <%= render 'messages/message', message: message %>
              <% end %>
            </div>
            <div class="chat">
              <%= render 'messages/form', chat_room: @room %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
