<div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render partial: "shared/#{current_user.role}_left_menu" %></div>
    <div class="col-md-5 col-md-offset-3 main">
      <h3><%= @opposite_user.name %></h3>
      <hr>

      <div class="messages_area" data-text-room-id="<%= @text_room.id %>">
        <% @text_room.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>

      <%= render 'messages/form', text_room: @text_room %>
    </div>
  </div>
</div>
