<div id="screen14" class="screen">
  <div class="container">
    <main id="content">
      <div class="panel-container">
        <div class="panel-col">
          <div id="panel-bio" class="panel"><%= image_tag "dummydoctor.jpg" %>
            <div class="doctor-bio">
              <p>
                È professore emerito
                all'Università di Harvard
                ed autore di innumerevoli
                pubblicazioni scientifiche
                sulle droghe ed in
                particolare sull'uso
                terapeutico e non della
                cannabis quali Psychedelic
                Drugs Reconsidered e
                Marijuana: La medicina.
              </p><a href="#" class="more">more</a>
            </div>
            <h3 class="doctor-name"><%= current_user.name %></h3>
            <p class="doctor-occupation"><% current_user.province %></p>
          </div>
          <div id="panel-schedule" class="panel">
            <div class="doctor-item">
              <h3>Fees</h3>
              <p>Video Chat Consultation: <strong><%= number_to_currency current_user.video_chat_rate, unit: '' %> euro</strong></p>
              <p>Prescription: <strong><%= number_to_currency current_user.prescription_rate, unit: '' %> euro</strong></p><a href="#" class="edit"><%= image_tag "edit.png" %></a>
            </div>
            <div class="doctor-item">
              <h3>Schedule</h3>
              <p><strong>Mon. </strong>16.00 - 18.00</p>
              <p><strong>Fri. </strong>16.00 - 18.00</p><a href="#" class="edit"><%= image_tag "edit.png" %></a>
            </div>
          </div>
        </div>
        <div class="panel-col">
          <div id="panel-summary" class="panel"><a href="#" class="maximize"><%= image_tag "maximize.png" %></a>
            <h3><span>08</span>Tuesday</h3>
            <div class="stat-container">
              <div class="stat">
                <div class="stat-title">Today</div>
                <div class="stat-value">4</div>
              </div>
              <div class="stat">
                <div class="stat-title">Appointments</div>
                <div class="stat-value">23</div>
              </div>
              <div class="stat">
                <div class="stat-title">This week</div>
                <div class="stat-value">6</div>
              </div>
              <div class="stat">
                <div class="stat-title">Last two weeks</div>
                <div class="stat-value">32</div>
              </div>
            </div>
          </div>
          <div id="panel-dateswitcher" class="panel"><a href="#" class="bottom"><%= image_tag "bottom.png" %></a>
            <div class="dates"><a href="#" class="date">day</a><a href="#" class="date">month</a><a href="#" class="date">week</a></div>
          </div>
          <div id="panel-templates" class="panel"><a href="#" class="maximize"><%= image_tag "maximize.png" %></a>
            <h3>My Templates</h3>
            <p class="templates-count">17</p>
            <div class="templates"><a href="#" class="template"><%= image_tag "prescription.png" %></a><a href="#" class="template"><%= image_tag "prescription.png" %></a><a href="#" class="template"><%= image_tag "prescription.png" %></a></div>
          </div>
          <div id="panel-activity" class="panel"><a href="#" class="maximize"><%= image_tag "maximize.png" %></a>
            <h3>Activity</h3>
            <div class="activity-buttons"><a href="#" class="online">Online</a><a href="#" class="offline">Offline</a></div>
          </div>
        </div>
        <div class="panel-col">
          <div id="panel-patients" class="panel">
            <div class="panel-head"><a href="#" class="maximize"><%= image_tag "maximize.png" %></a></div>
            <div class="panel-body">
              <h3>My Patients</h3>
              <div class="patients-count"><%= @number_of_patients %></div>
            </div>
          </div>
          <div id="panel-chat" class="panel">
            <div class="panel-head"><a href="#" class="maximize"><%= image_tag "maximize.png" %></a></div>
            <div class="panel-body">
              <h3>Chat<span class="chat-count"><%= @chats.count %></span></h3>
              <div class="chats">
                <% @chats.each do |chat| %>
                  <%= link_to chat_room_path(chat), class: 'chat-item' do %>
                    <div class="unread"></div>
                    <div class="chat-author"><%= chat.messages.first.author.name %></div>
                    <div class="chat-text"><%= chat.messages.first.body %><span class="excerpt">...</span></div>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer id="footer">
      <div class="brand">We.</div>
      <nav id="nav"><a href="#">About</a><a href="#">How to use</a><a href="#">Contacts</a></nav>
    </footer>
  </div>
</div>
