<!-- <div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render partial: "shared/#{current_user.role}_left_menu" %></div>
    <div class="col-md-5 col-md-offset-3">
      <div class="doctor-show">
        <h1><%= @doctor.name %></h1>
        <%= form_for [:patient, ChatRoom.new] do |f| %>
          <%= f.hidden_field :doctor_id, value: @doctor.id %>
          <%= f.submit "Connect", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div> -->

<div id="screen5" class="screen">
  <div class="container">
    <main id="content">
      <div class="left">
        <h1>Hi <%= current_user.name %>, good morning.</h1>
        <div class="id"><%= current_user.patient_id %></div>
        <footer id="footer">
          <div class="brand">We.</div>
          <nav id="nav"><a href="#">Home</a><a href="#">Account</a><a href="#">Help</a><a href="#">Contacts</a></nav>
        </footer>
      </div>
      <div class="right">
        <div class="panel">
          <div class="panel-head">
            <h2><%= @doctor.name %></h2>
            <div class="online"></div><%= link_to '', root_path, class: "back" %>
          </div>
          <div class="panel-body">
            <div class="panel-lbody">
              <div class="item">
                <div class="item-image online"><%= image_tag "dummy.jpg" %></div>
              </div>
            </div>
            <div class="panel-rbody">
              <div class="doctor-summary"><%= image_tag "dummydoctor.jpg" %>
                <div class="doctor-bio">
                  <h3>Bio</h3>
                  <p>
                    È professore emerito
                    all'Università di Harvard
                    ed autore di innumerevoli
                    pubblicazioni scientifiche
                    sulle droghe ed in
                    particolare sull'uso
                    terapeutico e non della
                    cannabis quali Psychedelic
                    Drugs Reconsidered e
                    Marijuana: La medicina.
                  </p>
                </div>
              </div>
              <div class="doctor-item">
                <h3>Fees</h3>
                <p>Video Chat Consultation: <strong><%= number_to_currency @doctor.video_chat_rate, unit: '' %> euro</strong></p>
                <p>Prescription: <strong><%= number_to_currency @doctor.prescription_rate, unit: '' %> euro</strong></p>
              </div>
              <div class="doctor-item">
                <h3>Schedule</h3>
                <p><strong>Mon. </strong>16.00 - 18.00</p>
                <p><strong>Fri. </strong>16.00 - 18.00</p>
              </div>
                <%= form_for [:patient, ChatRoom.new] do |f| %>
                  <%= f.hidden_field :doctor_id, value: @doctor.id %>
                  <button class="button-contact" type="submit">contact a doctor</button>
                <% end %>
              <!-- <div class="chat">
                <form id="form-chat" action="/" method="POST">
                  <input type="text" name="msg" value="Hello, can I have an appointment?">
                  <button type="submit">Send</button>
                </form>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
