<div id="screen6" class="screen">
  <div class="container">
    <main id="content">
      <div class="panel">
        <h1>Please, fill the missing data</h1>
        <div class="payment-systems"><%= image_tag "payment.png" %></div>
        <%= form_tag stripe_customers_path, method: :post, id: 'payment-form' do %>
          <%= hidden_field_tag :callback, params[:callback] %>
          <div class="field">
            <div class="label">
              <label for="payment-card">Card</label>
            </div>
            <div class="input">
              <input type="text" size="20" data-stripe="number" id="payment-card" value="4242 4242 4242 4242" placeholder="DA009845JU33" name="card">
            </div>
          </div>
          <div class="field">
            <div class="label">
              <label for="payment-number">Billing zip</label>
            </div>
            <div class="input">
              <input id="payment-address" type="text" name="number" placeholder="6893500" value="123123">
            </div>
          </div>
          <div class="field-meta">
            <div class="expires">
              <div class="label">
                <label for="payment-expires">Expires</label>
              </div>
              <div class="input">
                <input id="payment-expires" type="text" name="expires" placeholder="MM/YY" value="24/12">
              </div>
            </div>
            <div class="csi">
              <div class="label">
                <label for="payment-csi">CSI</label>
              </div>
              <div class="input">
                <input id="payment-csi" type="text" name="csi" placeholder="___" value="123">
              </div>
            </div>
          </div>
          <div class="field-submit">
            <div class="checkbox">
              <label for="payment-terms">I accept the terms of use</label>
              <input id="payment-terms" type="checkbox" name="terms">
            </div>
            <div class="submit">
              <button type="submit">Pay</button>
            </div>
          </div>
        <% end %>
      </div>
    </main>
    <footer id="footer">
      <div class="brand">We.</div>
      <nav id="nav"><a href="#">About</a><a href="#">How to use</a><a href="#">Contacts</a></nav>
    </footer>
  </div>
</div>

<!--


<div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render partial: "shared/#{current_user.role}_left_menu" %></div>
    <div class="col-md-6 col-md-offset-2 main">
      <h3>Please, fill the missing data</h3>
      <p></p>
      <%= form_tag stripe_customers_path, method: :post, class: "form-horizontal", id: 'payment-form' do %>
        <%= hidden_field_tag :callback, params[:callback] %>
        <span class="payment-errors"></span>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Card Number</label>
          <div class="col-sm-10">
            <input type="text" size="20" data-stripe="number" placeholder="4242 4242 4242 4242" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Expiration (MM/YY)</label>
          <div class="col-sm-10">
            <input type="text" size="2" data-stripe="exp_month" placeholder="12 - Januar" class="form-control">
            <input type="text" size="2" data-stripe="exp_year" placeholder="24" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">CVC</label>
          <div class="col-sm-10">
            <input type="text" size="4" data-stripe="cvc" placeholder="123" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Billing Zip</label>
          <div class="col-sm-10">
            <input type="text" size="6" data-stripe="address_zip" placeholder="123123" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit Payment</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> -->

<script type="text/javascript">
  var $form = $('#payment-form');
  console.log($form);
  $form.submit(function(event) {
    event.preventDefault();
    console.log('+++++++++');
    console.log('submit');
    // Disable the submit button to prevent repeated clicks:
    $form.find('.submit').prop('disabled', true);
    experation = $('#payment-expires').val().split('/')
    formData = {
                  number: $('#payment-card').val(),
                  cvc: $('#payment-csi').val(),
                  exp_month: experation[0],
                  exp_year: experation[1],
                  address_zip: $('#payment-address').val()
                }
    // Request a token from Stripe:
    Stripe.card.createToken(formData, stripeResponseHandler);

    // Prevent the form from being submitted:
    return false;
  });

  function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };
</script>
