<!--
<div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render partial: "shared/#{current_user.role}_left_menu" %></div>
    <div class="col-md-6 col-md-offset-2 main">
      <p>You will be charged for 1$ for the video consultation.</p>
      <p>Please, choose your payment method</p>
      <%= link_to 'Credit card', @stripe_path, class: 'btn btn-primary btn-block' %>
      <%= link_to 'PayPal', @paypal_path, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
</div> -->

<div id="screen9" class="screen">
  <div class="container">
    <main id="content">
      <div class="panel">
        <p>The video call fee is <%= number_to_currency @chat_room.doctor.video_chat_rate, unit: '' %> eu.<br>Your account will be charged with additional<br><%= number_to_currency @chat_room.doctor.video_chat_rate, unit: ''%> euro to download a prescription</p>
        <div class="payment-systems"><%= image_tag "payment.png" %></div>
        <div class="decision">
          <%= link_to @stripe_path do %>
            <button>Agree</button>
          <% end %>
          <%= link_to chat_room_path(@chat_room) do %>
            <button>Disagree</button>
          <% end %>
      </div>
    </main>
    <footer id="footer">
      <div class="brand">We.</div>
      <nav id="nav"><a href="#">About</a><a href="#">How to use</a><a href="#">Contacts</a></nav>
    </footer>
  </div>
</div>
