<div class="form-group">
  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <%= form.text_field :email, type: 'email', class: 'form-control', placeholder: 'Email address', require: true, autofocus: true %>
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
  <div class="col-sm-10">
    <%= form.text_field :password, type: 'password', class: 'form-control', placeholder: 'Password', require: true %>
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Phone number</label>
  <div class="col-sm-10">
    <%= form.text_field :phone, class: 'form-control', placeholder: 'Phone number' %>
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-2 control-label">Zip code</label>
  <div class="col-sm-10">
    <%= form.text_field :zip_code, class: 'form-control', placeholder: 'Zip code' %>
  </div>
</div>
