<div class="container auth">
  <div class='row'>
    <h1><span>We.</span>your sight of relief in mind.</h1>
    <%= form_for @user, html: {class: 'form-horizontal'} do |form| %>
    <%= render partial: '/users/form', object: form %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Register</button>
        <%= link_to 'Log in', sign_in_path, class: 'btn btn-default'%>
      </div>
    </div>
    <% end %>
  </div>
</div>
