<div class="left_menu">
  <div class="left_menu-top_part">
    <h4>Role: <%= current_user.role%></h4>

    <div class="list-group">
      <a href="#" class="list-group-item">My appointments</a>
      <a href="#" class="list-group-item">My Patients</a>
      <a href="#" class="list-group-item">My Prescriptions</a>
      <a href="#" class="list-group-item">Documents</a>
      <%= link_to "Edit Account", edit_doctor_doctor_path(current_user), class: 'list-group-item' %>
      <%= link_to "Sign out", sign_out_path, method: :delete, class: 'list-group-item' %>
    </div>
  </div>
</div>
