<div class="left_menu_patient">
  <div class="left_menu-top_part">
    <h4>Role: <%= current_user.role %></h4>

    <div class="list-group">
      <%- Doctor.find_each do |doctor| %>
        <%= link_to patient_doctor_path(doctor), class: 'list-group-item' do %>
          <%= doctor.name %>
          <span class="pull-right"><%= availability_status doctor %></span>
        <% end %>
      <% end %>
      <%= link_to "Sign out", sign_out_path, method: :delete, class: 'list-group-item' %>
    </div>
  </div>
</div>
