<!-- <div class="container">
  <div class="home-page-main-nav">
    <%= link_to "I'm a patient", new_patient_patient_path, class: 'btn btn-black' %>
    <%= link_to "I'm a doctor", new_doctor_doctor_path, class: 'btn btn-black' %>
  </div>
</div> -->

<div id="screen1" class="screen">
  <div class="container">
    <main id="content">
      <div class="buttonpanel">
        <%= link_to "I'm a patient", new_patient_patient_path %>
        <%= link_to "I'm a doctor", new_doctor_doctor_path %>
        <!-- <a href="#">I'm a doctor</a> -->
      </div>
    </main>
    <footer id="footer">
      <div class="brand">We.</div>
      <nav id="nav"><a href="#">About</a><a href="#">How to use</a><a href="#">Contacts</a></nav>
    </footer>
  </div>
</div>
