<div id="screen4" class="screen">
  <div class="container">
    <main id="content">
      <div class="left">
        <h1>Hi <%= current_user.name %>, good morning.</h1>
        <div class="id"><%= current_user.patient_id %></div>
        <footer id="footer">
          <div class="brand">We.</div>
          <nav id="nav"><a href="#">Home</a><a href="#">Account</a><a href="#">Help</a><a href="#">Contacts</a></nav>
        </footer>
      </div>
      <div class="right">
        <div class="panel">
          <div class="panel-head">
            <h2>Doctors</h2>
          </div>
          <div class="panel-body">
            <% @doctors.each do |doctor| %>
              <div class="item">
                <div class="item-image online"><%= image_tag 'dummy.jpg'%></div>
                <div class="item-body">
                  <div class="item-title"><%= link_to doctor.name, patient_doctor_path(doctor) %></div>
                  <div class="item-status">Online</div>
                </div>
                <div class="item-eye"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
