<div class="field">
  <div class="label"></div>
  <div class="input">
    <%= form.text_field :name, placeholder: 'Alessandro Marchese Ragona' %>
  </div>
</div>
<div class="field">
  <div class="label">
    <label for="register-email">Email</label>
  </div>
  <div class="input">
    <%= form.text_field :email, type: 'email', placeholder: 'bangbangideas@gmail.com', require: true, autofocus: true %>
  </div>
</div>
<div class="field">
  <div class="label">
    <label for="register-tel">Telephone number</label>
  </div>
  <div class="input">
    <%= form.text_field :phone, placeholder: '3486893500' %>
  </div>
</div>
<div class="field">
  <div class="label">
    <label for="register-zip">Zip code</label>
  </div>
  <div class="input">
    <%= form.text_field :zip_code %>
  </div>
</div>
<div class="field-submit">
  <div class="submit">
    <button type="submit">Register</button>
  </div>
  <div class="checkboxes">
    <div class="checkbox">
      <input id="register-terms" type="checkbox" name="terms" require="true">
      <label for="register-terms">Terms and Conditions</label>
    </div>
    <div class="checkbox">
      <input id="register-informed" type="checkbox" name="informed" require="true">
      <label for="register-informed">Informed Consent Requirements</label>
    </div>
  </div>
</div>
