<div id="screen2" class="screen">
  <div class="container">
    <main id="content">
      <div class="panel">
        <h1>Your sight of relief in mind</h1>
        <%= form_for [:patient, @patient] do |form| %>
          <%= render partial: '/patient/patients/form', object: form %>
        <% end %>
      </div>
    </main>
    <footer id="footer">
      <div class="brand">We.</div>
      <nav id="nav"><a href="#">About</a><a href="#">How to use</a><a href="#">Contacts</a></nav>
    </footer>
  </div>
</div>
