<div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render_current_user_left_menu %></div>
    <div class="col-md-6 col-md-offset-2 main">
      <h3>Doctors</h3>
      <table class="table table-striped">
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Status</th>
          <th></th>
        </tr>
        <% @doctors.each do |doctor| %>
          <tr>
            <td><%= doctor.id %></td>
            <td><%= doctor.name %></td>
            <td><%= availability_status doctor %></td>
            <td>
              <%= form_for TextRoom.new do |f| %>
                <%= f.hidden_field :doctor_id, value: doctor.id %>
                <%= f.submit "Connect", class: 'btn btn-success' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <% unless @doctors.any? %>
        <p>There is no doctors fow now</p>
      <% end %>
    </div>
  </div>
</div>
