<div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render partial: "shared/#{current_user.role}_left_menu" %></div>
    <div class="col-md-6 col-md-offset-2 main">
      <h3>Video Room</h3>
      <div id="videos" class="video_area" data-api-key="<%= ENV['OPENTOK_KEY']%>" data-session-id="<%= @room.session_id %>" data-token="<%= @tok_token %>">
        <div id="subscriber"></div>
        <div id="publisher"></div>
      </div>
    </div>
  </div>
</div>
