<div class="field">
  <div class="label">
    <label for="register-name">First and Last Name</label>
  </div>
  <div class="input">
    <%= form.text_field :name, placeholder: 'Dr. Robicheaux' %>
  </div>
</div>
<div class="field">
  <div class="label">
    <label for="register-email">Email</label>
  </div>
  <div class="input">
    <%= form.text_field :email, type: 'email', placeholder: 'fredrobicheaux@gmail.com', require: true, autofocus: true %>
  </div>
</div>
<div class="field field-medical">
  <div class="province">
    <div class="label">
      <label for="register-province-name">Medicalregister: province</label>
    </div>
    <div class="input">
      <%= form.text_field :province, placeholder: '(RM)' %>
    </div>
  </div>
  <div class="number">
    <div class="label">
      <label for="register-province-number">Number</label>
    </div>
    <div class="input">
      <%= form.text_field :num, placeholder: '6893500' %>
    </div>
  </div>
</div>
<div class="field field-id">
  <div class="label">
    <label for="register-id">ID</label>
  </div>
  <div class="input">
    <%= form.text_field :med_id, placeholder: 'ID' %>
  </div>
</div>
<div class="field">
  <div class="label">
    <label for="register-addr">Studio address</label>
  </div>
  <div class="input">
    <%= form.text_field :studio_address, class: 'form-control', placeholder: 'Via C. Battisti n 15' %>
  </div>
</div>
<div class="field">
  <div class="label">
    <label for="register-tel">Telephone number</label>
  </div>
  <div class="input">
    <%= form.text_field :phone, class: 'form-control', placeholder: '348 6893500' %>
  </div>
</div>
<div class="field field-location">
  <div class="city">
    <div class="label">
      <label for="register-city">City</label>
    </div>
    <div class="input">
      <%= form.text_field :city, class: 'form-control', placeholder: 'Rome' %>
    </div>
  </div>
  <div class="zip">
    <div class="label">
      <label for="register-zip">Zip code</label>
    </div>
    <div class="input">
      <%= form.text_field :zip_code, class: 'form-control', placeholder: '00107XJKRN' %>
    </div>
  </div>
</div>
