<div class="container main-wrapper">
  <div class="row">
    <div class="col-md-4"><%= render partial: "shared/#{current_user.role}_left_menu" %></div>
    <div class="col-md-6 col-md-offset-2 main">
      <h3>Account</h3>
      <%= form_for [:doctor, @doctor], html: {class: 'form-horizontal'} do |form| %>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <%= form.text_field :email, type: 'email', class: 'form-control', placeholder: 'Email address' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">ZIP code</label>
          <div class="col-sm-10">
            <%= form.text_field :zip_code, class: 'form-control', placeholder: 'ZIP code' %>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Province</label>
          <div class="col-sm-10">
            <%= form.text_field :province, class: 'form-control', placeholder: 'Province' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Number</label>
          <div class="col-sm-10">
            <%= form.text_field :num, class: 'form-control', placeholder: 'Number' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">ID</label>
          <div class="col-sm-10">
            <%= form.text_field :med_id, class: 'form-control', placeholder: 'ID' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Studio address</label>
          <div class="col-sm-10">
            <%= form.text_field :studio_address, class: 'form-control', placeholder: 'Studio address' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Phone number</label>
          <div class="col-sm-10">
            <%= form.text_field :phone, class: 'form-control', placeholder: 'Phone number' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <%= form.text_field :city, class: 'form-control', placeholder: 'City' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Zip code</label>
          <div class="col-sm-10">
            <%= form.text_field :zip_code, class: 'form-control', placeholder: 'Zip code' %>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Video chat rate</label>
          <div class="col-sm-10">
            <div class="input-group">
              <%= form.text_field :video_chat_rate, class: 'form-control', placeholder: 'Video chat rate', type: "number", min: "0", max: "10000", step: "0.1" %>
              <div class="input-group-addon">$</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Update</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
