<div id="screen12" class="screen">
  <div class="container">
    <main id="content">
      <div class="panel">
        <h1>Your sight of relief in mind</h1>
        <%= form_for [:doctor, @doctor], html: {id: 'form-register'} do |form| %>
          <%= render partial: '/doctor/doctors/form', object: form %>
          <div class="field field-submit">
            <button type="submit">Register</button>
          </div>
        <% end %>
      </div>
    </main>
    <footer id="footer">
      <div class="brand">We.</div>
      <nav id="nav"><a href="#">About</a><a href="#">How to use</a><a href="#">Contacts</a></nav>
    </footer>
  </div>
</div>
