/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.jspVerticalBar {
  width: 10px;
  right: 10px; }

.jspTrack {
  background: white; }

.jspDrag {
  background: #e8e8e8;
  border-radius: 5px; }

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 960px;
  display: table; }

#footer {
  position: relative;
  height: 80px; }
  #footer .brand {
    position: absolute;
    left: 0;
    bottom: 3px;
    font-family: Helvetica, sans-serif;
    font-size: 76.19px;
    font-weight: 600;
    letter-spacing: -6px;
    line-height: 80px;
    color: black; }
  #footer #nav {
    position: absolute;
    right: 0;
    bottom: 6px;
    margin-bottom: 9px; }
    #footer #nav a {
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      font-size: 17px;
      letter-spacing: 0.65px;
      text-transform: uppercase;
      text-decoration: none;
      color: black; }
      #footer #nav a:last-child:after {
        content: ''; }
      #footer #nav a:after {
        content: ' | ';
        display: inline; }

.screen {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle; }

.container {
  width: 960px;
  margin: 0 auto;
  position: relative; }

#screen1 {
  background-image: image_url("bg1.jpg"); }
  #screen1 .buttonpanel {
    margin-bottom: 324px; }
    #screen1 .buttonpanel a {
      background-color: white;
      color: black;
      text-decoration: none;
      font-size: 42px;
      line-height: 136px;
      text-align: center;
      width: 464px;
      display: inline-block;
      font-family: "Open Sans", sans-serif; }
      #screen1 .buttonpanel a:first-child {
        margin-right: 24px; }
      #screen1 .buttonpanel a:hover {
        color: white;
        background-color: #53a5d1; }

#screen2 {
  background-image: image_url("bg2.jpg"); }
  #screen2 .panel {
    width: 100%;
    height: 525px;
    box-sizing: padding-box;
    margin-bottom: 58px;
    padding-top: 56px;
    background-color: white; }
    #screen2 .panel h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 60px; }
    #screen2 .panel .field {
      margin-bottom: 22px; }
      #screen2 .panel .field .label {
        display: inline-block;
        width: 296px;
        margin-right: 26px;
        text-align: right; }
        #screen2 .panel .field .label label {
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          text-transform: uppercase; }
      #screen2 .panel .field .input {
        display: inline-block; }
        #screen2 .panel .field .input input {
          width: 544px;
          line-height: 32px;
          box-sizing: padding-box;
          padding-left: 20px;
          padding-right: 20px;
          background-color: #e4e6e1;
          outline: none;
          border: none;
          font-family: "Open Sans", sans-serif;
          font-size: 18px; }
          #screen2 .panel .field .input input[name='tel'] {
            width: 352px; }
          #screen2 .panel .field .input input[name='zip'] {
            width: 110px; }
    #screen2 .panel .field-submit {
      margin-left: 326px;
      vertical-align: top; }
      #screen2 .panel .field-submit .submit {
        display: inline-block;
        vertical-align: top; }
        #screen2 .panel .field-submit .submit button {
          background-color: #53a5d1;
          text-align: center;
          line-height: 68px;
          border: none;
          outline: none;
          color: white;
          width: 232px;
          font-family: "Open Sans", sans-serif;
          font-size: 22px;
          font-weight: 700; }
      #screen2 .panel .field-submit .checkboxes {
        display: inline-block;
        vertical-align: top;
        margin-left: 30px; }
        #screen2 .panel .field-submit .checkboxes .checkbox {
          margin-bottom: 16px; }
          #screen2 .panel .field-submit .checkboxes .checkbox input {
            display: none; }
            #screen2 .panel .field-submit .checkboxes .checkbox input + label {
              display: inline-block;
              vertical-align: middle;
              font-family: "Open Sans", sans-serif;
              font-size: 18px; }
            #screen2 .panel .field-submit .checkboxes .checkbox input + label:before {
              content: '';
              display: inline-block;
              width: 20px;
              height: 20px;
              vertical-align: middle;
              background-color: white;
              color: black;
              text-align: center;
              border: 3px solid #e4e6e1;
              border-radius: 3px;
              margin-right: 10px;
              cursor: pointer; }
            #screen2 .panel .field-submit .checkboxes .checkbox input:checked + label:before {
              content: '\2713';
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
              font-size: 20px; }
  #screen2 #footer #nav a, #screen2 #footer .brand {
    color: white; }

#screen3 {
  background-image: image_url("bg3.jpg"); }
  #screen3 .panel {
    width: 100%;
    height: 525px;
    box-sizing: padding-box;
    margin-bottom: 58px;
    padding-top: 56px;
    background-color: white; }
    #screen3 .panel h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 60px; }
    #screen3 .panel .field {
      margin-bottom: 22px; }
      #screen3 .panel .field .label {
        display: inline-block;
        width: 296px;
        margin-right: 26px;
        text-align: right; }
        #screen3 .panel .field .label label {
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          text-transform: uppercase; }
      #screen3 .panel .field .input {
        display: inline-block; }
        #screen3 .panel .field .input input {
          width: 544px;
          line-height: 32px;
          box-sizing: padding-box;
          padding-left: 20px;
          padding-right: 20px;
          background-color: #e4e6e1;
          outline: none;
          border: none;
          font-family: "Open Sans", sans-serif;
          font-size: 18px; }
          #screen3 .panel .field .input input[name='tel'] {
            width: 352px; }
          #screen3 .panel .field .input input[name='zip'] {
            width: 110px; }
    #screen3 .panel .field-submit {
      margin-left: 326px;
      vertical-align: top; }
      #screen3 .panel .field-submit .submit {
        display: inline-block;
        vertical-align: top; }
        #screen3 .panel .field-submit .submit button {
          background-color: #53a5d1;
          text-align: center;
          line-height: 32px;
          border: none;
          outline: none;
          color: white;
          width: 112px;
          font-family: "Open Sans", sans-serif;
          font-size: 22px;
          font-weight: 700; }
  #screen3 #footer #nav a, #screen3 #footer .brand {
    color: white; }

#screen4 {
  background-image: image_url("bg4.jpg");
  font-size: 0;
  vertical-align: top; }
  #screen4 .left {
    width: 526px;
    display: inline-block;
    padding-top: 182px;
    vertical-align: top;
    margin-right: 104px; }
    #screen4 .left h1 {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 30px; }
    #screen4 .left .id {
      background-color: #060606;
      color: #53a5d1;
      font-family: "Open Sans", sans-serif;
      font-size: 22.32px;
      font-weight: 700;
      display: inline-block;
      padding: 12px 20px;
      letter-spacing: 1px;
      margin-bottom: 230px; }
  #screen4 .right {
    display: inline-block;
    width: 330px;
    vertical-align: top;
    position: relative; }
    #screen4 .right .panel {
      position: absolute;
      top: 0;
      right: 0;
      width: 382px; }
      @media (min-width: 960px) {
        #screen4 .right .panel {
          right: auto;
          left: 0; } }
      #screen4 .right .panel .panel-head {
        background-color: #e4e6e1;
        height: 40px;
        padding-left: 100px; }
        #screen4 .right .panel .panel-head h2 {
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          font-size: 21.31px;
          line-height: 38px;
          display: inline-block; }
          #screen4 .right .panel .panel-head h2:before {
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            left: 47px;
            top: 10px;
            background: image_url("people.png") no-repeat top left; }
      #screen4 .right .panel .panel-body {
        background-color: white;
        width: 348px;
        height: 546px;
        padding-left: 34px;
        padding-top: 36px;
        padding-bottom: 36px; }
        #screen4 .right .panel .panel-body .item {
          vertical-align: top;
          margin-bottom: 36px; }
          #screen4 .right .panel .panel-body .item .item-image {
            display: inline-block;
            vertical-align: top;
            position: relative; }
            #screen4 .right .panel .panel-body .item .item-image img {
              width: 56px;
              border-radius: 50%; }
            #screen4 .right .panel .panel-body .item .item-image.online:after {
              content: '';
              display: block;
              position: absolute;
              bottom: -4px;
              right: -4px;
              width: 26px;
              height: 26px;
              background-image: image_url("online.png"); }
          #screen4 .right .panel .panel-body .item .item-body {
            display: inline-block;
            vertical-align: top;
            margin-left: 12px; }
            #screen4 .right .panel .panel-body .item .item-body .item-title {
              font-family: "Open Sans", sans-serif;
              font-weight: 700;
              font-size: 21.31px;
              line-height: 30px; }
              #screen4 .right .panel .panel-body .item .item-body .item-title a {
                color: #050505;
                text-decoration: none; }
            #screen4 .right .panel .panel-body .item .item-body .item-status {
              font-family: "Open Sans", sans-serif;
              font-size: 14.31px; }
          #screen4 .right .panel .panel-body .item .item-eye {
            width: 32px;
            height: 18px;
            margin-left: 50px;
            margin-top: 6px;
            display: inline-block;
            vertical-align: top;
            background-image: image_url("eye.png"); }
  #screen4 #footer #nav a, #screen4 #footer .brand {
    color: white; }

#screen5 {
  background-image: image_url("bg4.jpg");
  font-size: 0;
  vertical-align: top;
  padding-bottom: 122px; }
  #screen5 .left {
    width: 526px;
    display: inline-block;
    padding-top: 236px;
    vertical-align: top;
    margin-right: 36px; }
    #screen5 .left h1 {
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 30px; }
    #screen5 .left .id {
      background-color: #060606;
      color: #53a5d1;
      font-family: "Open Sans", sans-serif;
      font-size: 22.32px;
      font-weight: 700;
      display: inline-block;
      padding: 12px 20px;
      letter-spacing: 1px;
      margin-bottom: 230px; }
  #screen5 .right {
    display: inline-block;
    width: 398px;
    vertical-align: top;
    position: relative; }
    #screen5 .right .panel {
      position: absolute;
      top: 0;
      right: 0;
      width: 506px; }
      @media (min-width: 1176px) {
        #screen5 .right .panel {
          right: auto;
          left: 0; } }
      #screen5 .right .panel .panel-head {
        background-color: #e4e6e1;
        height: 40px;
        padding-left: 158px; }
        #screen5 .right .panel .panel-head .online {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #53a5d1;
          position: absolute;
          left: 124px;
          top: 16px; }
        #screen5 .right .panel .panel-head .back {
          width: 23px;
          height: 23px;
          background: image_url("back.png") no-repeat top left;
          display: inline-block;
          position: absolute;
          right: 26px;
          top: 8px; }
        #screen5 .right .panel .panel-head h2 {
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          font-size: 21.31px;
          line-height: 40px;
          display: inline-block; }
          #screen5 .right .panel .panel-head h2:before {
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            left: 65px;
            top: 10px;
            background: image_url("people.png") no-repeat top left; }
      #screen5 .right .panel .panel-body {
        background-color: white;
        height: 600px;
        font-size: 0;
        vertical-align: top; }
        #screen5 .right .panel .panel-body .panel-lbody {
          padding: 20px;
          width: 98px;
          height: 600px;
          background-color: #f1f2f2;
          box-sizing: border-box;
          border-right: 1px solid #bcbec0;
          display: inline-block;
          vertical-align: top; }
          #screen5 .right .panel .panel-body .panel-lbody .item {
            vertical-align: top;
            margin-bottom: 36px; }
            #screen5 .right .panel .panel-body .panel-lbody .item .item-image {
              display: inline-block;
              vertical-align: top;
              position: relative; }
              #screen5 .right .panel .panel-body .panel-lbody .item .item-image img {
                width: 56px;
                border-radius: 50%; }
              #screen5 .right .panel .panel-body .panel-lbody .item .item-image.online:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -4px;
                right: -4px;
                width: 26px;
                height: 26px;
                background-image: image_url("online.png"); }
        #screen5 .right .panel .panel-body .panel-rbody {
          position: relative;
          padding: 20px;
          width: 406px;
          height: 600px;
          box-sizing: border-box;
          display: inline-block;
          vertical-align: top; }
          #screen5 .right .panel .panel-body .panel-rbody .doctor-summary {
            vertical-align: top;
            margin-bottom: 42px; }
            #screen5 .right .panel .panel-body .panel-rbody .doctor-summary img {
              display: inline-block;
              vertical-align: top; }
            #screen5 .right .panel .panel-body .panel-rbody .doctor-summary .doctor-bio {
              display: inline-block;
              vertical-align: top;
              width: 160px;
              padding-left: 30px; }
              #screen5 .right .panel .panel-body .panel-rbody .doctor-summary .doctor-bio h3 {
                font-family: "Open Sans", sans-serif;
                font-size: 17.11px;
                font-weight: 700;
                line-height: 38px;
                margin-bottom: 6px; }
              #screen5 .right .panel .panel-body .panel-rbody .doctor-summary .doctor-bio p {
                font-family: "Open Sans", sans-serif;
                font-size: 11px;
                line-height: 20px;
                display: inline-block; }
          #screen5 .right .panel .panel-body .panel-rbody .doctor-item {
            margin-top: 34px;
            margin-left: 42px; }
            #screen5 .right .panel .panel-body .panel-rbody .doctor-item h3 {
              text-transform: uppercase;
              font-family: "Open Sans", sans-serif;
              font-size: 17.11px;
              font-weight: 700; }
            #screen5 .right .panel .panel-body .panel-rbody .doctor-item p {
              font-family: "Open Sans", sans-serif;
              font-size: 16.04px;
              line-height: 1.5; }
              #screen5 .right .panel .panel-body .panel-rbody .doctor-item p strong {
                font-weight: 700; }
          #screen5 .right .panel .panel-body .panel-rbody > a {
            display: block; }
          #screen5 .right .panel .panel-body .panel-rbody .button-contact {
            position: relative;
            border: none;
            outline: none;
            background: #e4e6e1;
            float: right;
            margin-top: 34px;
            margin-right: 8px;
            padding-top: 15px;
            padding-bottom: 14px;
            padding-left: 15px;
            padding-right: 64px;
            font-family: "Open Sans", sans-serif;
            font-size: 15.31px;
            cursor: pointer; }
            #screen5 .right .panel .panel-body .panel-rbody .button-contact:after {
              content: '';
              display: inline-block;
              width: 33px;
              height: 22px;
              background: image_url("cam.png") no-repeat top left;
              position: absolute;
              top: 14px;
              right: 20px; }
          #screen5 .right .panel .panel-body .panel-rbody .chat {
            position: absolute;
            width: 408px;
            height: 122px;
            background-color: #e4e6e1;
            bottom: 0;
            left: 0;
            padding: 42px;
            padding-bottom: 0px;
            margin-bottom: -122px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: right;
            font-size: 0; }
            #screen5 .right .panel .panel-body .panel-rbody .chat input {
              text-align: left;
              width: 100%;
              display: block;
              padding: 8px 15px;
              background-color: #d7d8d4;
              outline: none;
              border: 1px solid #babab9;
              box-sizing: border-box;
              margin-bottom: 6px;
              font-family: "Open Sans", sans-serif;
              font-size: 16px;
              font-weight: 700; }
            #screen5 .right .panel .panel-body .panel-rbody .chat button {
              margin: 0;
              background-color: #d7d8d4;
              outline: none;
              padding: 4px 12px;
              border: 1px solid #babab9;
              font-family: "Open Sans", sans-serif;
              font-size: 11.45px;
              line-height: 1;
              cursor: pointer; }
  #screen5 #footer #nav a, #screen5 #footer .brand {
    color: white; }

#screen6 {
  background-image: image_url("bg6.jpg"); }
  #screen6 .panel {
    width: 100%;
    height: 525px;
    box-sizing: padding-box;
    margin-bottom: 58px;
    padding-top: 56px;
    background-color: white; }
    #screen6 .panel h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 24px; }
    #screen6 .panel .payment-systems {
      text-align: center;
      margin-bottom: 18px; }
    #screen6 .panel .field {
      margin-bottom: 22px; }
      #screen6 .panel .field .label {
        display: inline-block;
        width: 296px;
        margin-right: 26px;
        text-align: right; }
        #screen6 .panel .field .label label {
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          text-transform: uppercase; }
      #screen6 .panel .field .input {
        display: inline-block; }
        #screen6 .panel .field .input input {
          width: 384px;
          line-height: 32px;
          box-sizing: padding-box;
          padding-left: 20px;
          padding-right: 20px;
          background-color: #e4e6e1;
          outline: none;
          border: none;
          font-family: "Open Sans", sans-serif;
          font-size: 18px; }
    #screen6 .panel .field-meta {
      margin-bottom: 36px;
      padding-left: 232px; }
      #screen6 .panel .field-meta .label {
        display: inline-block;
        margin-right: 26px;
        text-align: right; }
        #screen6 .panel .field-meta .label label {
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          text-transform: uppercase; }
      #screen6 .panel .field-meta .input {
        display: inline-block; }
        #screen6 .panel .field-meta .input input {
          line-height: 32px;
          box-sizing: padding-box;
          padding-left: 20px;
          padding-right: 20px;
          background-color: #e4e6e1;
          outline: none;
          border: none;
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: 700; }
      #screen6 .panel .field-meta .expires {
        display: inline-block;
        margin-right: 108px; }
        #screen6 .panel .field-meta .expires input {
          width: 110px; }
      #screen6 .panel .field-meta .csi {
        display: inline-block; }
        #screen6 .panel .field-meta .csi input {
          width: 110px;
          text-align: center;
          letter-spacing: 10px; }
    #screen6 .panel .field-submit {
      margin-left: 326px;
      vertical-align: bottom; }
      #screen6 .panel .field-submit .checkbox {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 92px;
        padding-bottom: 20px; }
        #screen6 .panel .field-submit .checkbox label {
          font-family: Helvetica, sans-serif;
          font-size: 14.07px; }
      #screen6 .panel .field-submit .submit {
        display: inline-block;
        vertical-align: bottom; }
        #screen6 .panel .field-submit .submit button {
          background-color: #53a5d1;
          text-align: center;
          line-height: 68px;
          border: none;
          outline: none;
          color: white;
          width: 110px;
          font-family: "Open Sans", sans-serif;
          font-size: 22px;
          font-weight: 700; }
  #screen6 #footer #nav a, #screen6 #footer .brand {
    color: white; }

#screen7 {
  background-image: image_url("bg4.jpg");
  font-size: 0;
  vertical-align: top; }
  #screen7 .left {
    display: inline-block;
    vertical-align: top; }
    #screen7 .left .panel {
      position: relative;
      top: 0;
      right: 0;
      width: 506px; }
      @media (min-width: 1176px) {
        #screen7 .left .panel {
          right: auto;
          left: 0; } }
      #screen7 .left .panel .panel-head {
        background-color: #e4e6e1;
        height: 40px;
        padding-left: 40px;
        border-right: 1px solid #babab9;
        box-sizing: border-box; }
        #screen7 .left .panel .panel-head .online {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #53a5d1;
          position: absolute;
          left: 20px;
          top: 16px; }
        #screen7 .left .panel .panel-head h2 {
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          font-size: 21.31px;
          line-height: 40px;
          display: inline-block; }
      #screen7 .left .panel .panel-body {
        background-color: white;
        height: 520px;
        font-size: 0;
        vertical-align: top; }
        #screen7 .left .panel .panel-body .panel-lbody {
          padding: 20px;
          width: 98px;
          height: 520px;
          background-color: #f1f2f2;
          box-sizing: border-box;
          border-right: 1px solid #bcbec0;
          display: inline-block;
          vertical-align: top; }
          #screen7 .left .panel .panel-body .panel-lbody .status {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 20px; }
          #screen7 .left .panel .panel-body .panel-lbody .item {
            vertical-align: top;
            margin-bottom: 36px; }
            #screen7 .left .panel .panel-body .panel-lbody .item .item-image {
              display: inline-block;
              vertical-align: top;
              position: relative; }
              #screen7 .left .panel .panel-body .panel-lbody .item .item-image img {
                width: 56px;
                border-radius: 50%; }
              #screen7 .left .panel .panel-body .panel-lbody .item .item-image.online:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -4px;
                right: -4px;
                width: 26px;
                height: 26px;
                background-image: image_url("online.png"); }
        #screen7 .left .panel .panel-body .panel-rbody {
          position: relative;
          background-color: black;
          padding: 20px;
          width: 406px;
          height: 520px;
          box-sizing: border-box;
          display: inline-block;
          text-align: center;
          vertical-align: top; }
          #screen7 .left .panel .panel-body .panel-rbody figure {
            margin: 0 auto;
            margin-bottom: 40px;
            position: relative; }
            #screen7 .left .panel .panel-body .panel-rbody figure img {
              width: 100%; }
            #screen7 .left .panel .panel-body .panel-rbody figure figcaption {
              position: absolute;
              width: 100%;
              bottom: 40px;
              left: 0;
              text-align: center;
              color: white;
              font-family: "Open Sans", sans-serif;
              font-size: 12.6px;
              font-weight: 700; }
          #screen7 .left .panel .panel-body .panel-rbody .videopanel {
            text-align: center; }
            #screen7 .left .panel .panel-body .panel-rbody .videopanel.active {
              line-height: 36px;
              padding-left: 36px;
              padding-right: 36px;
              border-radius: 18px;
              background-color: rgba(255, 255, 255, 0.15);
              vertical-align: middle;
              text-align: left;
              position: relative;
              max-width: 312px;
              margin: 0 auto; }
              #screen7 .left .panel .panel-body .panel-rbody .videopanel.active a {
                line-height: 36px;
                vertical-align: middle;
                margin: 0 8px; }
                #screen7 .left .panel .panel-body .panel-rbody .videopanel.active a img {
                  vertical-align: middle; }
                #screen7 .left .panel .panel-body .panel-rbody .videopanel.active a.button-fullscreen {
                  float: right; }
  #screen7 .right {
    display: inline-block;
    width: 406px;
    vertical-align: top;
    position: relative; }
    #screen7 .right .panel {
      width: 406px; }
      #screen7 .right .panel .panel-head {
        background-color: #e4e6e1;
        height: 40px;
        padding-left: 60px; }
        #screen7 .right .panel .panel-head .online {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #53a5d1;
          position: absolute;
          right: 20px;
          top: 16px; }
        #screen7 .right .panel .panel-head h2 {
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          font-size: 21.31px;
          line-height: 40px;
          display: inline-block; }
          #screen7 .right .panel .panel-head h2:before {
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            left: 20px;
            top: 10px;
            background: image-url("people.png") no-repeat top left; }
      #screen7 .right .panel .panel-body {
        background-color: white;
        height: 520px;
        font-size: 0;
        vertical-align: top; }
        #screen7 .right .panel .panel-body .messages {
          padding: 36px;
          padding-right: 0;
          height: 398px;
          width: 372px;
          box-sizing: padding-box;
          overflow-y: scroll; }
          #screen7 .right .panel .panel-body .messages .message {
            margin-bottom: 24px;
            padding-right: 36px; }
            #screen7 .right .panel .panel-body .messages .message.patient .message-author {
              margin-left: 40px; }
            #screen7 .right .panel .panel-body .messages .message.doctor .message-author {
              margin-left: 174px; }
          #screen7 .right .panel .panel-body .messages .message-author {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 700;
            position: relative;
            margin-bottom: 24px; }
            #screen7 .right .panel .panel-body .messages .message-author:before {
              content: '';
              display: block;
              position: absolute;
              width: 18px;
              height: 18px;
              top: 0px;
              left: -30px;
              opacity: 0.5;
              background: image_url("people.png") no-repeat top left; }
          #screen7 .right .panel .panel-body .messages .message-body {
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            padding-left: 48px;
            color: black;
            line-height: 1.5; }
            #screen7 .right .panel .panel-body .messages .message-body .file {
              vertical-align: middle;
              text-decoration: none; }
              #screen7 .right .panel .panel-body .messages .message-body .file .file-image {
                vertical-align: middle; }
              #screen7 .right .panel .panel-body .messages .message-body .file .file-text {
                vertical-align: middle;
                font-family: "Open Sans", sans-serif;
                font-size: 15px;
                padding-left: 20px;
                color: black; }
        #screen7 .right .panel .panel-body .chat {
          position: absolute;
          width: 408px;
          height: 122px;
          background-color: #e4e6e1;
          bottom: 0;
          left: -2px;
          padding: 42px;
          padding-bottom: 0px;
          box-sizing: border-box;
          text-align: right;
          font-size: 0; }
          #screen7 .right .panel .panel-body .chat input {
            text-align: left;
            width: 100%;
            display: block;
            padding: 8px 15px;
            background-color: #d7d8d4;
            outline: none;
            border: 1px solid #babab9;
            box-sizing: border-box;
            margin-bottom: 6px;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 700; }
          #screen7 .right .panel .panel-body .chat button {
            margin: 0;
            background-color: #d7d8d4;
            outline: none;
            padding: 4px 12px;
            border: 1px solid #babab9;
            font-family: "Open Sans", sans-serif;
            font-size: 11.45px;
            line-height: 1;
            cursor: pointer; }
  #screen7 #footer {
    margin-top: 48px; }
    #screen7 #footer #nav a, #screen7 #footer .brand {
      color: white; }

#screen9 {
  background-image: image_url("bg9.jpg"); }
  #screen9 .panel {
    width: 100%;
    height: 525px;
    box-sizing: padding-box;
    margin-bottom: 58px;
    padding-top: 92px;
    background-color: white; }
    #screen9 .panel p {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      line-height: 1.5;
      margin-bottom: 38px; }
    #screen9 .panel .payment-systems {
      text-align: center;
      margin-bottom: 52px; }
    #screen9 .panel .decision {
      font-size: 0;
      text-align: center; }
      #screen9 .panel .decision button {
        background-color: #e4e6e1;
        border: none;
        outline: none;
        color: black;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 700;
        padding: 6px 0;
        width: 110px;
        margin: 0 8px;
        cursor: pointer; }
        #screen9 .panel .decision button:hover {
          background-color: #53a5d1;
          color: white; }
  #screen9 #footer #nav a, #screen9 #footer .brand {
    color: white; }

#screen12 {
  background-image: image_url("bg12.jpg"); }
  #screen12 .panel {
    width: 100%;
    height: 696px;
    box-sizing: padding-box;
    margin-bottom: 58px;
    padding-top: 64px;
    background-color: white; }
    #screen12 .panel h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 60px; }
    #screen12 .panel .field {
      margin-bottom: 22px; }
      #screen12 .panel .field .label {
        display: inline-block;
        width: 296px;
        margin-right: 26px;
        text-align: right; }
        #screen12 .panel .field .label label {
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          text-transform: uppercase; }
      #screen12 .panel .field .input {
        display: inline-block; }
        #screen12 .panel .field .input input {
          width: 544px;
          line-height: 32px;
          box-sizing: padding-box;
          padding-left: 20px;
          padding-right: 20px;
          background-color: #e4e6e1;
          outline: none;
          border: none;
          font-family: "Open Sans", sans-serif;
          font-size: 18px; }
          #screen12 .panel .field .input input[name='tel'] {
            width: 352px; }
          #screen12 .panel .field .input input[name='zip'] {
            width: 110px; }
    #screen12 .panel .field-submit {
      margin-left: 326px;
      vertical-align: top; }
      #screen12 .panel .field-submit button {
        background-color: #53a5d1;
        text-align: center;
        line-height: 68px;
        border: none;
        outline: none;
        color: white;
        width: 232px;
        font-family: "Open Sans", sans-serif;
        font-size: 22px;
        font-weight: 700; }
  #screen12 #footer #nav a, #screen12 #footer .brand {
    color: white; }

#screen13 {
  background-image: image_url("bg13.jpg"); }
  #screen13 .panel {
    width: 100%;
    height: 525px;
    box-sizing: padding-box;
    margin-bottom: 58px;
    padding-top: 56px;
    background-color: white; }
    #screen13 .panel h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 84px; }
    #screen13 .panel p {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      line-height: 1.5;
      margin-bottom: 28px;
      text-transform: uppercase; }
    #screen13 .panel .we {
      text-align: center;
      display: block;
      text-decoration: none;
      font-family: Helvetica, sans-serif;
      font-size: 26.55px;
      font-weight: 700;
      color: #53a5d1; }
  #screen13 #footer #nav a, #screen13 #footer .brand {
    color: white; }

  #subscriber {
    height: 400px;
  }

  #publisher {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
  }


#screen14 {
  background-image: image_url("bg2.jpg"); }
  #screen14 #content {
    height: 716px; }
  #screen14 .panel-container {
    text-align: center;
    font-size: 0;
    position: absolute;
    width: 1490px;
    left: 50%;
    margin-left: -734px; }
    #screen14 .panel-container .panel-col {
      display: inline-block;
      position: relative;
      height: 200px;
      border-left: 1px solid #a4a4a4;
      border-right: 1px solid #a4a4a4;
      vertical-align: top;
      text-align: left; }
      #screen14 .panel-container .panel-col:nth-child(1) {
        background-color: #fff;
        width: 484px; }
      #screen14 .panel-container .panel-col:nth-child(2) {
        background-color: #aaa;
        width: 566px;
        border: none; }
      #screen14 .panel-container .panel-col:nth-child(3) {
        width: 436px;
        background-color: #777; }
      #screen14 .panel-container .panel-col .panel {
        border-top: 1px solid #a4a4a4;
        box-sizing: border-box;
        color: #525357;
        width: 100%; }
        #screen14 .panel-container .panel-col .panel:last-child {
          border-bottom: 1px solid #a4a4a4; }
  #screen14 #panel-bio {
    background-color: #e4e6e1;
    height: 395px;
    padding-top: 35px;
    padding-left: 54px; }
    #screen14 #panel-bio img {
      display: inline-block;
      vertical-align: top; }
    #screen14 #panel-bio .doctor-bio {
      display: inline-block;
      vertical-align: top;
      width: 160px;
      padding-left: 30px;
      padding-top: 6px; }
      #screen14 #panel-bio .doctor-bio p {
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        line-height: 20px;
        display: inline-block; }
      #screen14 #panel-bio .doctor-bio .more {
        display: inline-block;
        font-family: "Open Sans", sans-serif;
        font-size: 14.24px;
        font-weight: 300;
        margin-top: 25px;
        margin-left: 98px;
        color: #525357;
        background-color: #d7d8d4;
        line-height: 1;
        text-decoration: none;
        padding: 4px 8px; }
    #screen14 #panel-bio .doctor-name {
      font-family: "Open Sans", sans-serif;
      font-size: 21.39px;
      font-weight: 700;
      margin-left: 27px;
      margin-top: 24px; }
    #screen14 #panel-bio .doctor-occupation {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-style: italic;
      margin-left: 27px;
      margin-top: 28px; }
  #screen14 #panel-schedule {
    background-color: #cbcdc9;
    height: 274px;
    padding-top: 20px;
    padding-left: 38px; }
    #screen14 #panel-schedule .doctor-item {
      margin-top: 26px;
      margin-left: 42px;
      position: relative; }
      #screen14 #panel-schedule .doctor-item h3 {
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: 17.11px;
        font-weight: 700; }
      #screen14 #panel-schedule .doctor-item p {
        font-family: "Open Sans", sans-serif;
        font-size: 16.04px;
        line-height: 1.5; }
        #screen14 #panel-schedule .doctor-item p strong {
          font-weight: 700; }
      #screen14 #panel-schedule .doctor-item .edit {
        position: absolute;
        right: 102px;
        top: 22px; }
  #screen14 #panel-summary {
    background-color: #f1f2f0;
    height: 235px;
    padding: 36px; }
    #screen14 #panel-summary .maximize {
      position: absolute;
      right: 27px;
      top: 18px; }
    #screen14 #panel-summary h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 24.24px;
      font-weight: 700;
      color: #cbcdc9;
      margin-left: 27px; }
      #screen14 #panel-summary h3 span {
        font-size: 49.24px;
        color: #64b8e5;
        margin-right: 20px; }
    #screen14 #panel-summary .stat-container {
      margin-top: 40px;
      text-align: center;
      font-size: 0;
      white-space: nowrap; }
      #screen14 #panel-summary .stat-container .stat {
        display: inline-block;
        position: relative;
        padding: 0px 16px;
        white-space: normal; }
        #screen14 #panel-summary .stat-container .stat:after {
          content: '|';
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 700;
          color: #cbcdc9;
          position: absolute;
          top: 0;
          right: 0; }
        #screen14 #panel-summary .stat-container .stat:last-child:after {
          content: ''; }
        #screen14 #panel-summary .stat-container .stat .stat-title {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 700;
          color: #cbcdc9;
          text-transform: uppercase; }
        #screen14 #panel-summary .stat-container .stat .stat-value {
          margin-top: 12px;
          font-family: "Open Sans", sans-serif;
          font-size: 49.24px;
          font-weight: 700;
          color: #64b8e5; }
  #screen14 #panel-dateswitcher {
    background-color: #e4e6e1;
    height: 34px;
    position: relative; }
    #screen14 #panel-dateswitcher .bottom {
      position: absolute;
      left: 25px;
      top: 2px; }
    #screen14 #panel-dateswitcher .dates {
      margin-left: 248px; }
      #screen14 #panel-dateswitcher .dates .date {
        display: inline-block;
        text-align: center;
        background-color: #d7d8d4;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: #64686a;
        text-decoration: none;
        line-height: 33px;
        width: 76px;
        margin-right: 8px; }
  #screen14 #panel-templates {
    background-color: #f1f2f0;
    height: 207px;
    position: relative; }
    #screen14 #panel-templates .maximize {
      position: absolute;
      right: 27px;
      top: 18px; }
    #screen14 #panel-templates h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 24.24px;
      font-weight: 700;
      margin-left: 65px;
      margin-top: 51px;
      color: #cbcdc9; }
    #screen14 #panel-templates .templates-count {
      font-family: "Open Sans", sans-serif;
      font-size: 49.24px;
      font-weight: 700;
      color: #64b8e5;
      margin-left: 61px;
      margin-top: 18px; }
    #screen14 #panel-templates .templates {
      position: absolute;
      right: 76px;
      top: 123px; }
      #screen14 #panel-templates .templates .template {
        margin: 0 16px; }
      #screen14 #panel-templates .templates:before {
        width: 17px;
        height: 25px;
        content: '';
        position: absolute;
        left: -16px;
        top: 11px;
        background-image: image_url("aleft.png"); }
      #screen14 #panel-templates .templates:after {
        width: 17px;
        height: 25px;
        content: '';
        position: absolute;
        right: -16px;
        top: 11px;
        background-image: image_url("aright.png"); }
  #screen14 #panel-activity {
    background-color: #fff;
    height: 193px;
    position: relative; }
    #screen14 #panel-activity .maximize {
      position: absolute;
      right: 27px;
      top: 18px; }
    #screen14 #panel-activity h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 24.24px;
      font-weight: 700;
      margin-left: 65px;
      margin-top: 51px;
      color: #cbcdc9; }
    #screen14 #panel-activity .activity-buttons {
      text-align: center;
      margin: 0 auto;
      margin-top: 32px; }
      #screen14 #panel-activity .activity-buttons a {
        border-style: solid;
        border-width: 1px;
        font-family: "Open Sans", sans-serif;
        font-size: 16.09px;
        font-weight: 700;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        padding: 4px 8px;
        padding-left: 20px;
        margin: 0 16px; }
        #screen14 #panel-activity .activity-buttons a:before {
          position: absolute;
          content: '';
          left: 6px;
          top: 11px;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #53a5d1; }
        #screen14 #panel-activity .activity-buttons a.online {
          color: #64b8e5;
          border-color: #64b8e5; }
          #screen14 #panel-activity .activity-buttons a.online:before {
            background-color: #64b8e5; }
        #screen14 #panel-activity .activity-buttons a.offline {
          color: #cbcdc9;
          border-color: #cbcdc9; }
          #screen14 #panel-activity .activity-buttons a.offline:before {
            background-color: #cbcdc9; }
  #screen14 #panel-patients {
    background-color: #fff;
    height: 315px; }
    #screen14 #panel-patients .panel-head {
      background-color: #e4e6e1;
      border-bottom: 1px solid #a4a4a4;
      height: 40px;
      position: relative; }
      #screen14 #panel-patients .panel-head .maximize {
        position: absolute;
        right: 23px;
        top: 10px; }
    #screen14 #panel-patients .panel-body h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 24.24px;
      font-weight: 700;
      margin-left: 66px;
      margin-top: 47px;
      color: #cbcdc9; }
    #screen14 #panel-patients .panel-body .patients-count {
      font-family: "Open Sans", sans-serif;
      font-size: 49.24px;
      font-weight: 700;
      margin-left: 64px;
      margin-top: 16px;
      color: #64b8e5; }
  #screen14 #panel-chat {
    background-color: #fff;
    height: 354px; }
    #screen14 #panel-chat .panel-head {
      background-color: #e4e6e1;
      border-bottom: 1px solid #a4a4a4;
      height: 40px;
      position: relative; }
      #screen14 #panel-chat .panel-head .maximize {
        position: absolute;
        right: 23px;
        top: 10px; }
    #screen14 #panel-chat .panel-body h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 24.24px;
      font-weight: 700;
      margin-left: 66px;
      margin-top: 34px;
      color: #cbcdc9; }
      #screen14 #panel-chat .panel-body h3 .chat-count {
        font-family: "Open Sans", sans-serif;
        font-size: 49.24px;
        font-weight: 700;
        margin-left: 37px;
        color: #64b8e5; }
    #screen14 #panel-chat .panel-body .chats {
      width: 304px;
      max-height: 174px;
      overflow-y: scroll;
      margin-top: 30px;
      margin-left: 54px; }
      #screen14 #panel-chat .panel-body .chats .chat-item {
        background-color: white;
        height: 40px;
        position: relative;
        padding-top: 16px;
        box-sizing: border-box;
        display: block;
        color: black;
        text-decoration: none; }
        #screen14 #panel-chat .panel-body .chats .chat-item:hover {
          background-color: #e9e9e8; }
        #screen14 #panel-chat .panel-body .chats .chat-item .unread {
          position: absolute;
          top: 0px;
          left: 0px;
          font-family: "Open Sans", sans-serif;
          font-size: 14.96px;
          font-weight: 700;
          color: #64b8e5; }
        #screen14 #panel-chat .panel-body .chats .chat-item .chat-author {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 700;
          margin-left: 44px;
          margin-right: 21px;
          position: relative;
          display: inline-block; }
          #screen14 #panel-chat .panel-body .chats .chat-item .chat-author:before {
            content: '';
            display: block;
            position: absolute;
            width: 18px;
            height: 18px;
            left: -32px;
            top: -2px;
            background: image_url("people.png") no-repeat top left;
            opacity: 0.5; }
        #screen14 #panel-chat .panel-body .chats .chat-item .chat-text {
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-size: 11px; }
  #screen14 #footer #nav a, #screen14 #footer .brand {
    color: white; }
