<!DOCTYPE html>
<html>
  <head>
    <title>Weedoctor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800" rel="stylesheet">
    <%= stripe_javascript_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <div class="<%= controller_name %> vertical-centring">
      <nav class="navbar">
        <div class="logo">
          <a href="/">We.</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
              <a href="/">about</a>
            </li>
            <li>
              <a href="#">| how to use |</a>
            </li>
            <li>
              <a href="#">contacts</a>
            </li>
        </ul>
      </nav>

      <section class="main-section"> -->
        <%= yield %>
      <!-- </section> -->
    </div>
  </body>
</html>
